@using Microsoft.AspNet.Identity
@using TPS.Web.Core.Models
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("My Tours", "Index", "Tour")</li>
        <li>@Html.ActionLink("My Photos", "Index", "Image")</li>
        @*<li>@Html.ActionLink("Upload", "Upload", "Image")</li>*@
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.GetFullName(), "Index", "Manage")
        </li>
        @if (User.Identity.GetUserName() == "jombard@hotmail.com")
        {
            <li>
                @Html.ActionLink("Logs", "Index", "Audit")
            </li>
        }
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
