@model TPS.Web.Core.ViewModels.ImageListViewModel
@{
    ViewBag.Title = "Confirm Pending Uploads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p class="lead">Label your photos and provide a description. Save the changes to add the photo to the tour.</p>

<div class="approve-images">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <strong>Select the tour to assign the uploads</strong>
                <select class="form-control">
                    <option>LEJOG</option>
                </select>
            </div>
        </div>
    </div>

    @foreach (var image in Model.PendingImages)
    {
        <div class="row form-group">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img src="@image.ImagePath.Replace("~", "../..")?w=550" alt="@image.AltText"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button type="button" class="btn btn-primary js-save-image" data-image-id="@image.Id">
                            <i class="glyphicon glyphicon-ok"></i>
                            Confirm Photo
                        </button>
                        <button type="button" class="btn btn-link js-delete-image" data-image-id="@image.Id">
                            <i class="glyphicon glyphicon-trash"></i>
                            Remove Photo
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="upload-message hidden">
    <p>There are currently no pending uploads.</p>
    <a href="@Url.Action("Upload")" class="btn btn-primary">
        <i class="glyphicon glyphicon-upload"></i>
        Upload a new photo now
    </a>
    <a href="@Url.Action("Index", "Image")" class="btn btn-link">
        <i class="glyphicon glyphicon-picture"></i>
        View my photos
    </a>
    
</div>

@section Scripts {
    <script>
        var showNoUploadMessage = function () {
            var approveImg = $(".approve-images");
            if (approveImg.find("img").length > 0) return;

            approveImg.addClass("hidden");
            $(".upload-message").removeClass("hidden");
        };

        showNoUploadMessage();

        $(".approve-images").on("click", ".js-save-image", function(e) {
            e.preventDefault();
            var $this = $(this);
            var row = $this.closest(".row");

            var imageId = $this.attr("data-image-id");

            var imageObj = {
                Id: imageId,
                Confirmed: true
            };

            $.ajax({
                url: "/api/image/" + imageId,
                method: "PUT",
                data: imageObj
            }).done(function (result) {
                console.log(result);
                row.remove();
                showNoUploadMessage();
            }).fail(function(error) {
                console.log(error);
            });
        });

        $(".approve-images").on("click", ".js-delete-image", function(e) {
            e.preventDefault();

            var button = $(this);

            var result = confirm("Are you sure you want to deleted this item?");

            if (!result) return;

            $.ajax({
                url: "/api/image/" + button.attr("data-image-id"),
                method: "DELETE",
                success: function (result) {
                    console.log(result);
                    button.closest(".row").remove();
                    showNoUploadMessage();
                }
            });
        });
    </script>
}

