@model List<TPS.Web.Core.ViewModels.ImageViewModel>

@{
    ViewBag.Title = "My Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Upload", "Image")" class="btn btn-link">
    <i class="glyphicon glyphicon-cloud-upload"></i>
    Upload new photos
</a>

<a href="@Url.Action("Confirm", "Image")" class="btn btn-link">
    <i class="glyphicon glyphicon-check"></i>
    Confirm pending uploads
</a>

<hr/>

@if (Model.Any())
{
    <ul class="list-inline">
        @foreach (var imageModel in Model)
        {
            <li>
                <a href="@Url.Action()">
                    <img src="@imageModel.ImagePath.Replace("~", "..")?autorotate=true&maxwidth=150&maxheight=150" alt="@imageModel.AltText" class="image"/>
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>You have not uploaded any photos</p>
    <a href="@Url.Action("Upload", "Image")" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus-sign"></i>
        Upload a photo now
    </a>
}

@Html.Partial("_ImageModal")

@section Scripts {
    @Scripts.Render("~/Scripts/App/app.min.js")
}