@model TPS.Web.Core.ViewModels.ImageListViewModel

@{
    ViewBag.Title = "My Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<a href="@Url.Action("Upload", "Image")" class="btn btn-primary">
    <i class="glyphicon glyphicon-cloud-upload"></i>
    Upload new photos
</a>

<hr/>

@if (Model.PendingImages.Any())
{
    <p class="lead">Your uploaded photos that are yet to be approved.</p>
    <p>These photos will not appear in the tour view.</p>
    @Html.Partial("_ImageEditGallery", Model.PendingImages)

    <hr/>
}

@if (Model.ConfirmedImages.Any())
{
    <p class="lead">Add a description to a photo or remove unwanted photos.</p>
    @Html.Partial("_ImageEditGallery", Model.ConfirmedImages)
}

@if(!Model.ConfirmedImages.Any() && !Model.PendingImages.Any())
{
    <p>You have not uploaded any photos</p>
}

@Html.Partial("_ImageModal")

@section Scripts {
    @Scripts.Render("~/Scripts/App/app.min.js")
    <script>
        $(".my-photos").on("click", ".js-edit-link", function(e) {
            e.preventDefault();
            var $this = $(this);
            var $thumbnail = $this.closest("li");
            var img = $thumbnail.find("img");
            var cols = $thumbnail.find(".col-sm-12");

            $this.addClass("hidden");
            var imgParams = img.attr("src").split("?");
            //var imgQuery = new URLSearchParams(imgParams[1]);
            //img.attr("src", imgParams[0] + (imgQuery.has("rotate") ? "?rotate=" + imgQuery.get("rotate") : ""));
            img.attr("src", imgParams[0]);
            $thumbnail.find(".js-rotate-link").removeClass("hidden");
            $thumbnail.find(".js-image-edit").removeClass("hidden");
            $thumbnail.attr("style", "display:block;");
            cols.toggleClass("col-sm-12 col-sm-6");
        }).on("click", ".js-rotate-link", function (e) {
            e.preventDefault();
            var $this = $(this);
            var imageId = $this.attr("data-image-id");
            var $thumbnail = $this.closest(".row");
            var img = $thumbnail.find("img");

            var imageObj = {
                Rotate: true
            };

            $.ajax({
                url: "/api/image/" + imageId,
                method: "PUT",
                data: imageObj
            }).done(function (result) {
                console.log("rotate result", result);
                img.attr("src", img.attr("src") + "?" + new Date().getTime());
            }).fail(function (error) {
                console.log("rotate error", error);
            });

        }).on("click", ".js-save-image", function (e) {
            e.preventDefault();
            var $this = $(this);
            var row = $this.closest("li");

            var imageId = $this.attr("data-image-id");
            var caption = row.find(".js-image-caption").val();
            row.find(".js-edit-link").removeClass("hidden");
            row.find(".js-rotate-link").addClass("hidden");

            var imageObj = {
                id: imageId,
                caption: caption
            };

            $.ajax({
                url: "/api/image/" + imageId,
                method: "PUT",
                data: imageObj
            }).done(function (result) {
                console.log(result);
                var img = row.find("img");
                img.parent().parent().toggleClass("col-sm-6 col-sm-12");
                img.attr("src", img.attr("src").split("?")[0] + "?w=100&h=100&mode=crop");
                row.find(".js-image-edit").addClass("hidden col-sm-12").removeClass("col-sm-6");
                row.closest("li").attr("style", "display:inline-block;");
            }).fail(function (error) {
                console.log(error);
            });
        }).on("click", ".js-delete-image", function (e) {
            e.preventDefault();

            var button = $(this);

            var result = confirm("Are you sure you want to delete this item?");

            if (!result) return;

            $.ajax({
                url: "/api/image/" + button.attr("data-image-id"),
                method: "DELETE",
                success: function () {
                    button.closest("li").remove();
                }
            });
        }).on("click", ".js-cancel-image", function(e) {
            e.preventDefault();

            var $this = $(this);
            var row = $this.closest("li");
            var img = row.find("img");
            row.find(".js-edit-link").removeClass("hidden");
            row.find(".js-rotate-link").addClass("hidden");
            img.parent().parent().toggleClass("col-sm-6 col-sm-12");
            img.attr("src", img.attr("src").split("?")[0] + "?w=100&h=100&mode=crop");
            row.find(".js-image-edit").addClass("hidden col-sm-12").removeClass("col-sm-6");
            row.closest("li").attr("style", "display:inline-block;");
        });
    </script>
}