@model TPS.Web.Core.ViewModels.TourImagesViewModel

@{
    ViewBag.Title = Model.Tour.Name;
    Layout = "~/Views/Shared/_GalleryLayout.cshtml";
}

<div class="tour-header">
    <img src="@Model.Tour.Thumbnail.Replace("~","../..")" alt="@Model.Tour.Name" class="img-responsive"/>
    <div class="tour-text">
        <h1 class="tour-title">@ViewBag.Title</h1>
        <p class="lead tour-description">@Model.Tour.Description</p>
    </div>
</div>

<div id="image-list" >
    <div class="navbar navbar-inverse navbar-filter">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Filter photo's by uploader <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="select-uploader">Show all</a>
                        </li>
                        @foreach (var uploader in Model.UploaderNames)
                        {
                            <li>
                                <a href="#" class="select-uploader">@uploader</a>
                            </li>

                        }
                    </ul>
                </li>
            </ul>
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <button type="button" class="btn btn-default js-view-map hidden">
                        <i class="glyphicon glyphicon-globe"></i>
                        <span>View map</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="map" class="hidden" style="width: 100%; margin: 0"></div>

    <div class="row">
        <div class="col-sm-12">
            <ul class="list-inline list list-tour-images">
                @foreach (var imageModel in Model.TourImages)
                {
                    <li>
                        <div class="thumbnail" data-toggle="modal" data-target="#photoModal"> @* TODO image should open in gallery viewer that allows further control, remove use of photoswipe plugin *@
                            <img src="@imageModel.Image.ImageUrl.Replace("~", @"..\..")?w=320&h=256&mode=crop"
                                 data-image-id="@imageModel.Image.Id"
                                 alt="@imageModel.Image.Caption"
                                 data-author="@imageModel.Image.Owner.FullName"
                                 data-lat="@imageModel.Image.Latitude"
                                 data-lng="@imageModel.Image.Longitude"
                                 data-width="@imageModel.Image.Width"
                                 data-height="@imageModel.Image.Height"
                                 data-date="@imageModel.Image.CreatedDate"
                                 class="image img-responsive"/>
                            <div class="img-data">
                                <div class="img-caption">@imageModel.Image.Caption</div>
                                <div class="owner">
                                    Photo by: <span>@imageModel.Image.Owner.FullName</span>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Updates</h3>
    </div>
    <div class="panel-body">
        <div class="blog-article">
            <h2>A cycle challenge memoir</h2>
            <p><i class="glyphicon glyphicon-user"></i> by Jon Lombard</p>
            <small>Posted on 30 August 2017 at 10:34 AM</small>
            <hr />
            <p class="lead">Read a journal about cycling from Land's End to John o'Groats</p>
            <p>Daniel Darkens has kindly submited his memoir of the tour for general reading.</p>
            <p>Feel free to download the attachment <a href="~/Uploads/documents/lejog-memoir.pdf" target="_blank">here</a>.</p>
        </div>
    </div>
    @*<div class="panel-footer">
            <p>This is the blog post footer</p>
        </div>
        <div class="panel-body">
            <div class="blog-article">
                <h2>Blog Post Update</h2>
                <p><i class="glyphicon glyphicon-user"></i> by Jon Lombard</p>
                <small>Posted on 24 August 2017 at 21:34 PM</small>
                <hr/>
                <p class="lead">A blog post update first line goes here</p>
                <p>This is a blog post update with some text in here</p>
                <p>This is a blog post update with some text in here</p>
                <p>This is a blog post update with some text in here</p>
            </div>
        </div>
        <div class="panel-body">
            <div class="blog-article">
                <h2>Blog Post Update</h2>
                <p><i class="glyphicon glyphicon-user"></i> by Jon Lombard</p>
                <small>Posted on 24 August 2017 at 21:34 PM</small>
                <hr/>
                <p class="lead">A blog post update first line goes here</p>
                <p>This is a blog post update with some text in here</p>
                <p>This is a blog post update with some text in here</p>
                <p>This is a blog post update with some text in here</p>
            </div>
        </div>*@
</div>

<div class="comment-box" style="display: none;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Comments</h3>
        </div>
        <div class="panel-body">
            <ul class="media-list">
            </ul>
            <div class="comment-entry">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-default">Add comment</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ImageModal")

@section Scripts {
    @Scripts.Render("~/Scripts/App/maps.js")
    @*@Scripts.Render("~/Scripts/App/comments.js")*@
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYa67zXJI_Zdh_NNyuIfq1k6rO2TuNp8Y&callback=enableMaps"></script>
    <script>
        $(".js-view-map").on("click", function(e) {
            e.preventDefault();
            var $this = $(this);
            $("#map").toggleClass("hidden");

            if ($("#map").hasClass("hidden")) {
                $this.find("span").text("View map");
            } else {
                $this.find("span").text("Close map");
            }

            var mapLocations = $("img").filter(function(i, pic) {
                return pic.dataset.lat && pic.dataset.lng && $(pic).is(":visible");
            }).map(function(i, pic) {
                return {
                    lat: parseFloat(pic.dataset.lat),
                    lng: parseFloat(pic.dataset.lng),
                    alt: "<div><div class='thumbnail'><img src='" +
                        pic.src +
                        "' /></div>" +
                        "<p>" +
                        pic.alt +
                        "</p><p class='small'>Photo by: " +
                        pic.dataset.author +
                        "</p></div>",
                    src: pic.src.split("?")[0]
                }
            });

            mapInit("map", mapLocations);
        });

        function getNextImage(thisImg, move) {
            var index = 0;
            var items = $("li:visible").find("img.image").map(function(i, pic) {
                if (thisImg.src.split("?")[0] === pic.src.split("?")[0]) {
                    index = i;
                }
                return pic;
            });

            var nextItem = index + move;

            if (nextItem === items.length || nextItem < 0) {
                $("#photoModal").modal("hide");
                return;
            }

            showImageOnModal($(items[nextItem]), $("#photoModal"));
        }

        function showImageOnModal(img, $modal) {
            var imgSrc = img.attr("src").split("?")[0];
            var imageId = img.attr("data-image-id");
            var caption = img.attr("alt") || "";
            var owner = img.attr("data-author");
            var date = img.attr("data-date");
            var mapObj = [
                {
                    lat: parseFloat(img.attr("data-lat")),
                    lng: parseFloat(img.attr("data-lng")),
                    src: imgSrc
                }
            ];

            $modal.find(".modal-title").text(caption);
            $modal.find(".img-owner").text(owner);
            $modal.find(".img-date").text(date);
            $modal.find(".tour-img").attr("src", imgSrc);
            $modal.find(".star").attr("data-image-id", imageId).removeClass("btn-danger").addClass("btn-default");

            mapInit("imgMap", mapObj);
        }

        $("#photoModal").on("click", ".star", function(e) {
            e.preventDefault();
            var $this = $(this);
            var imageId = $this.attr("data-image-id");
            var method = $this.hasClass("btn-default") ? "POST" : "DELETE";

            $.ajax({
                url: "/api/star/" + imageId,
                method: method
            }).done(function(result) {
                if (result) {
                    $this.toggleClass("btn-default btn-danger");
                }
            }).fail(function(result) {
                console.log("star error", result);
            });
        });

        $("#photoModal").on("click", ".next, .prev", function(e) {
            e.preventDefault();

            var move = $(this).hasClass("next") ? 1 : -1;

            var img = $(this).closest(".modal-content").find(".tour-img").get(0);
            getNextImage(img, move);
        });

        $("#photoModal").on("shown.bs.modal", function(e) {
            var thumbnail = $(e.relatedTarget);
            var img = thumbnail.find("img");
            var $modal = $(this);

            showImageOnModal(img, $modal);
        });

        $(".select-uploader").on("click", function(e) {
            e.preventDefault();

            $(".select-uploader").each(function(i, a) {
                $(a).parent().removeClass("active");
            });

            var selectedOwner = $(this).text();
            $(this).parent().addClass("active");
            $("#map").addClass("hidden").empty();

            $(".owner").each(function(i, owner) {
                $(owner).closest("li").show();
                if (selectedOwner !== "Show all" && $(owner).find("span").text() !== selectedOwner) {
                    $(owner).closest("li").hide();
                }
            });
        });

    </script>
}